/* line 1, ../sass/main.scss */
html, body {
  margin: 0;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Audiowide', cursive;
}

/* line 9, ../sass/main.scss */
#header,
#interface {
  font-size: 60px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}
/* line 17, ../sass/main.scss */
#header .speech,
#interface .speech {
  display: none;
}
/* line 19, ../sass/main.scss */
#header .speech.bank,
#interface .speech.bank {
  display: block;
}

/* line 25, ../sass/main.scss */
#dots {
  display: table;
  margin: 10px auto;
  width: 350px;
  height: 320px;
  position: relative;
}
/* line 31, ../sass/main.scss */
#dots span {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transition: all 0.3s;
}
/* line 42, ../sass/main.scss */
#dots span:first-child {
  background: #4285F4;
}
/* line 45, ../sass/main.scss */
#dots span:nth-child(2) {
  background: #DB4437;
  left: 100px;
}
/* line 49, ../sass/main.scss */
#dots span:nth-child(3) {
  background: #F4B400;
  left: 200px;
}
/* line 53, ../sass/main.scss */
#dots span:nth-child(4) {
  background: #0F9D58;
  left: 300px;
}

@keyframes updown {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: -15px;
  }
}
@keyframes sound-1 {
  0% {
    height: 280px;
    border-radius: 30px;
  }
  10% {
    height: 190px;
    border-radius: 30px;
  }
  20% {
    height: 260px;
    border-radius: 30px;
  }
  25% {
    height: 180px;
    border-radius: 30px;
  }
  30% {
    height: 280px;
    border-radius: 30px;
  }
  40% {
    height: 190px;
    border-radius: 30px;
  }
  50% {
    height: 160px;
    border-radius: 30px;
  }
  60% {
    height: 130px;
    border-radius: 30px;
  }
  70% {
    height: 100px;
    border-radius: 30px;
  }
  80% {
    height: 130px;
    border-radius: 30px;
  }
  85% {
    height: 100px;
    border-radius: 30px;
  }
  90% {
    height: 130px;
    border-radius: 30px;
  }
  95% {
    height: 100px;
    border-radius: 30px;
  }
  100% {
    height: 50px;
    border-radius: 50%;
  }
}
@keyframes sound-2 {
  0% {
    height: 180px;
    border-radius: 30px;
  }
  20% {
    height: 120px;
    border-radius: 30px;
  }
  30% {
    height: 180px;
    border-radius: 30px;
  }
  40% {
    height: 120px;
    border-radius: 30px;
  }
  50% {
    height: 110px;
    border-radius: 30px;
  }
  60% {
    height: 90px;
    border-radius: 30px;
  }
  70% {
    height: 70px;
    border-radius: 30px;
  }
  80% {
    height: 90px;
    border-radius: 30px;
  }
  90% {
    height: 70px;
    border-radius: 30px;
  }
  100% {
    height: 50px;
    border-radius: 50%;
  }
}
@keyframes finalani {
  0% {
    top: 0;
  }
  50% {
    top: -250px;
  }
  100% {
    top: 0px;
  }
}
